:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #5e3d7e;
    --bottom-padding: 20px 40px;
    --background-register: linear-gradient(0deg, rgba(69, 128, 201, 0.537) 0%, rgba(87, 40, 55,0.537) 100% );
}



@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body{

    font-family: 'Exo 2', sans-serif;  
    }

.container{

    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle{
    
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;

}

.hero{

    height: 100vh;
    background-image: var(--background), url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{

    padding: 0;

}

.nav{

display: flex;
justify-content: flex-end;
height: 70px;
align-items: center;
font-weight: normal;


}

.--nav__footer{

font-weight: 300;
justify-content: flex-start;

}

.nav__items{

color: #fff;
text-decoration: none;
margin-right: 20px;
padding: 10px 15px;
font-weight: inherit;
}

.nav__items--cta{

border: 1px solid #fff;


}

.nav__items--footer{

    padding: 10px;
    
}

.hero__container{

    display: flex ;
    height: calc(100vh - 60vh);
    align-items: center;
    color: #fff;
    margin-top: 50px;
}

.hero_wave{

position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100px;


}
.hero__texts{

   width: 80%;
   margin-bottom: 50px; 
}

.hero__title{
    
   font-size: 3.2rem;

}

.hero__subtitle{

font-size: 2rem;
font-weight: 300;
margin: 15px, 0;


}

.hero__cta{

display: inline-block;
background: #fff;
padding: var(--bottom-padding);
color: var(--color-primary);
text-decoration: none;
border-radius: 40px;
}

#SS{

margin-top: 20px;

}

/*About*/

.presentation{
    /* padding-top: 0;
text-align: center; */
    
}

.presentation__picture{

    width: 300px;
    height: 300px;
    margin-bottom: 50px;


}

.presentation-container{


display: flex;

}

.presentation__copy{

 width: 80%;
    
}

.presentation__cta{

display: inline-block;
margin-top: 30px;
background: var(--color-primary);
color: #fff;
text-decoration: none;
padding: var(--bottom-padding);
border-radius: 40px;

}

.about{

min-height: 400px;   
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 70px;
justify-items: center;
align-items: center;
}

.about__img{

    text-align: center;

}

.about__img--left{

text-align: left;

}

.about__picture{

width: 80%;
    
}

.about__paragraph{

margin-bottom: 20px;
line-height: 1.5;
font-weight: 300;
}

/*Projects*/

.projects{

 background: #f2f2f2c2;
    
}
/* .item1{
    background-color: turquoise;
    width: 100%;
    

} */

.projects__grid{

display: grid;
height: 550px; 
gap: 10px; ;
grid-template-areas: 
"img1 img1 img2 img3 "
"img1 img1 img4 img5";

}

img{

width: 100%;

}

.projects__items{

position: relative;
width: 100%;
height: 100%;
overflow: hidden;
}

.projects__img{
width: 100%;
height: 100%;
object-fit: cover;
cursor: pointer;

}

.projects__items:nth-of-type(1){
    grid-area: img1;
}
.projects__items:nth-of-type(2){
    grid-area: img2;
}

.projects__items:nth-of-type(3){
    grid-area: img3;
}
.projects__items:nth-of-type(4){
    grid-area: img4;
}
.projects__items:nth-of-type(5){
    grid-area: img5;
}

.projects__hover{

position:absolute;
background: #17b63c8c;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: #fff;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
transform: translateY(100%);
cursor: pointer;
transition: .3s ease-in-out;
}

.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

.projects__items:hover .projects__hover{

transform: translateY(0%);


}

/*Testimony*/

.testimony__grid{

width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;

}

.testimony__item{

width: 95%;
margin: auto;
background: var(--color-secondary);
box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
border-radius: 7px;
padding: 25px 30px;
color: #fff;
margin-bottom: 50px;

}

.testimony__person{

display: flex;
align-items: center;
margin-bottom: 20px;    

}

.testimony__img{

width: 100px;
min-width: 100px;
height: 100px;
object-fit: cover;
object-position: top;
border-radius: 50%;
border: 3px solid #fff;
margin-right: 30px;

}

.testimony__name{

    font-size: 1.3rem;
    margin-bottom: 20px;
}

.testimony__verification{

    color: rgba(40, 209, 247, 0.762);
    font-weight: 700;

}

/*footer*/

.footer{

   background: var(--color-primary); 

}

.footer__grid{

    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;

}

.footer__title{

font-weight: 400;
color: #fff;
font-size: 2rem;
margin-bottom: 30px;
text-align: center;

}

.footer__icons{

display: flex;
justify-content: space-evenly;

}

.footer__container-icons{

display: inline-block;
width: 60px;
height: 60px;
color: #fff;
text-align: center;
border: 1px solid #fff;
border-radius: 50%;
}

.footer__icon{

    color: #fff;
    font-size: 30px;
    text-decoration: none;

}

.fab.footer__icon{

line-height: 60px;

}

/* Responsive Design*/

@media screen and (max-width: 800px){

}

/*Register / register.html*/

.todo{

box-sizing: border-box;
font-family: monospace;
font-size: 1rem;

}

.form{

	width: 300px;
	padding: 20px;
	border-radius:10px;
    background-image: var(--background-register), url('../assets/register.jpg');
	margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    text-align: center;
    background-size: cover;
    position: relative;

}

.form input{

    text-align: center;
    font-weight: bold;

}

.bottom{

margin-top: 20px;

}
