<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/grafico.css">

    <title>Formulario de registro</title>
</head>

<header>

    <%- include('../Frontend/Templates/header.ejs'); %>

</header>


<body class="todo">

    <form class="form" action="/login" target="" method="POST" name="form-register">

        <label for="Nombres">Nombre:</label>
        <input type="text" name="Nombres" id="Nombres" placeholder="Ingrese su nombre" required>
        <label for="Apellidos">Apellido:</label>
        <input type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese su Apellido" required>
        <label for="Email">Email</label>
        <input type="text" name="Email" id="Email" placeholder="Ingrese su Email" required>
        <label for="Contrasenas">Contraseña:</label>
        <input type="password" name="Contrasena" id="Contrasena" placeholder="Ingrese su Contraseña" required>
        <label for="TerCon" id="idterminos">Estoy de acuedo con <a href="#" class="TC"><a>Terminos y Condiciones</a></label>
           <div> <input type="checkbox" name="TerCon" id="Terminosycondiciones" required> </div>
            <input class="bottom" id="registerbottom" type="submit" value="Registrar">
            <p><a href="#" class="cuenta">Ya tengo cuenta?</a></p>

    </form>

    <%- include('../Frontend/Templates/footer.ejs'); %>

</body>

</html>