<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/grafico.css">

    <title>Formulario de registro</title>
</head>
<body class="todo">
    
<form class="form" action="localhost/3000/register" target="" method="GET" name="form-register">

<label class="IL" for="Nombres">Nombre:</label>
<input class="IL" type="text" name="Nombres" id="Nombres" placeholder="Ingrese su nombre">
<label class="IL" for="Apellidos">Apellido:</label>
<input class="IL" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese su Apellido">
<label class="IL" for="Email">Email</label>
<input class="IL" type="text" name="Email" id="Email" placeholder="Ingrese su Email">
<label class="IL" for="Contrasenas">Contrasena:</label>
<input class="IL" type="text" name="Contrasena" id="Contrasenas" placeholder="Ingrese su Contrasena">
<p>Estoy de acuedo con <a href="#">Terminos y Condiciones</a> </p>

<input class="bottom" type="submit" value="Registrar">
<p><a href="#">Ya tengo cuenta?</a></p>

</form>

</body>
</html>