<footer class="footer">
    <div class="container footer__grid">
        <nav class="nav --nav__footer">
            <a href="#" class="nav__items nav__items--footer">Inicio</a>
            <a href="#" class="nav__items nav__items--footer">Sobre nosotros</a>
            <a href="#" class="nav__items nav__items--footer">Developers</a>
            <a href="#" class="nav__items nav__items--footer">Proyectos</a>
        </nav>
        <section class="footer__contact">
            <h3 class="footer__title">Contactanos</h3>
            <div class="footer__icons">
                <span class="footer__container-icons">

                    <a class="fab fa-linkedin footer__icon" href="#"></a>

                </span>

                <span class="footer__container-icons">

                    <a class="fab fas fa-envelope footer__icon" href="#"></a>

                </span>

                <span class="footer__container-icons">

                    <a class="fab fa-whatsapp footer__icon" href="#"></a>

                </span>
            </div>
        </section>
    </div>

</footer>

<script src="https://kit.fontawesome.com/3e13032a4e.js" crossorigin="anonymous"></script>