
<header>
<nav class="nav">
    <a href="#" class="nav__items nav__items--cta">Solicitar servicio</a>
    <a href="#" class="nav__items">Sobre Nosotros</a>
    <a href="#" class="nav__items">Servicios</a>
</nav>
</header>
